{% extends 'base.html.twig' %}

{% block title %}nouveau film{% endblock %}

{% block body %}
<h1>créer un film<h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Creer</button>
{{ form_end(form) }}
{% endblock %}
